@mixin sidebar-list-hover {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--critical);
    color: var(--text-black);

    .navigation-sidebar__block-time {
      color: inherit;
    }
  }
}
