@use "tokens/index" as *;

html {
  /* тема по умолчанию */
  &[data-theme="green"] { }
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
  line-height: var(--lh-normal);
  //text-transform: uppercase;
  letter-spacing: var(--ls-terminal);
}
